---
layout: default
---

{% assign portfolio = site.portfolio %}

<div class="home scene-element">
  <section class="hero-unit blur-fade">
    <div id="blur-container">
      <h1>Design &amp; Code</h1>
      <h3>A POWERFUL COMBO</h3>

      <section class="images">
        {% image base/app--outline.svg class="app" %}
        {% image base/phone--outline.svg class="phone" %}
      </section>

      <section class="about--blurb">
        <div class="container">
          <p>I'm a designer and developer focusing on inuitive interface
          and seasmless front ends for the next generate of web applications.</p>
          <a>CONTACT</a>
        </div>
      </div>
    </section>
  </section>

  <ul id="nav-push" class="portfolio--list">
  {% for piece in portfolio %}
    <li class="portfolio--item">
    <a href="{{ piece.url }}" data-page-trans="page-trans--portfolio">
      <img style="background-image: url({% portfolio_img piece.title %})" />
      <div class="info-container">
        <h2>{{ piece.title }}</h2>
        <span>{% for tag in piece.tags %}{{ tag }}{% if forloop.last == false %} &amp; {% endif %}{% endfor %}</span>
      </div>
    </a>
    </li>
  {% endfor %}
  </ul>
</div>