<header>
  <nav class="main">
    <section class="container">
      <a class="drawer--icon">
        {% image base/drawer--icon.svg %}
      </a>
      <a class="logo">
        {% image slightly/slightly--logo.png %}
      </a>
      <a class="contact-icon">
        {% image base/contact--icon.svg %}
      </a>
    </section>
  </nav>

  <nav class="drawer">
    <ul style="display: none;" class="drawer--list">
      <li>About Me</li>
      <li>Contact</li>
      <li>Colophon</li>
    </ul>
  </nav>
</header>