<header>
  <nav class="main">
    <div class="container">
      <a id="drawer-toggle" class="drawer--icon" href="#sidr">
        {% image base/icons/drawer--icon.svg %}
      </a>
      <a href="/" class="logo" data-page-trans="page-trans--slide" data-smooth-select-target="self">
        {% image slightly/slightly--logo.png %}
      </a>
      <a class="contact-icon">
        {% image base/icons/contact--icon.svg %}
      </a>
    </div>
  </nav>

  <nav id="sidr" class="drawer">
    <ul class="drawer--list">
      <li>About Me</li>
      <li>Contact</li>
      <li>Colophon</li>
    </ul>
  </nav>
</header>