// Basics
//
// Hide & Show

@keyframes hide {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes show {
  from { opacity: 0; }
  to { opacity: 1; }
}

//
// Fades

@keyframes fade-out--center {
  from { 
    transform: translateY(-50%); 
    opacity: 1;
  }
  to { 
    transform: translateY(-20%); 
    opacity: 0;
  }
}

@keyframes fade-in {
  from { 
    transform: translateY(-3rem); 
    opacity: 0;
  }
  to { 
    transform: translateY(0); 
    opacity: 1;
  }
}

@keyframes fade-in--left {
  from { 
    transform: translateX(3rem); 
    opacity: 0;
  }
  to { 
    transform: translateX(0); 
    opacity: 1;
  }
}

//
// Full Page Slides

@keyframes slide-in {
  from {transform: translate3D(100%, 0, 0);}
  to {transform: translate3D(0, 0, 0);}
}

@keyframes slide-out {
  from {transform: translate3D(0, 0, 0);}
  to {transform: translate3D(-100%, 0, 0);}
}

//
// Page Specific

@keyframes portfolio-pic {
  from {
    padding-bottom: 50%;
  }

  to {
    top: 0;
    padding-top: 6.3333rem;
    padding-bottom: 61.8%;
  }
}