@keyframes slide-in {
  from {transform: translate3D(100%, 0, 0);}
  to {transform: translate3D(0, 0, 0);}
}

@keyframes slide-out {
  from {transform: translate3D(0, 0, 0);}
  to {transform: translate3D(-100%, 0, 0);}
}