.smooth-scene {

  .scene-element {
    // Required styles
    position: relative;
    height: auto;
    width: 100vw;
    overflow: hidden;

    // Basic animation settings
    animation-duration: 1s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

    // To animate an individual element you need to 
    // add the base animation styles directly to the element
    // then add the exit styles for &.is-exiting
  }

  &.is-exiting.page-trans--portfolio .scene-element {
    a:not(.smooth-state--select) { display: none; }
  }

  &.is-exiting.page-trans--slide .scene-element {
    position: absolute;
    animation-name: slide-out;
  }

  &.is-entering.page-trans--slide .scene-element {
    animation-name: slide-in;
  }
} 