// Shadows
%ui-shadow {
  text-shadow: 0 1px 0 rgba(0,0,0,.35);
}


// Headings
h1 { 
  font-family: $body-font-family;
  font-size: 3.3333rem;
  line-height: 3.3333rem;

  &.project__title {
    font-family: $header-font-family;
    font-weight: bold;
    font-size: 1.6667rem;
    line-height: 1.6667rem;
    margin-bottom: 0;
    color: $charcoal;
    text-transform: uppercase;

  }
}

h2,
h3,
h4,
h5,
h6,
a.ui {
  font-family: $header-font-family;
}

h2 {
  font-size: 1.6667rem;
  line-height: 1.6667rem;
  font-weight: bold;
  letter-spacing: .2rem;
}

h3 {
  font-size: 1.3333rem;
  line-height: 1.3333rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.6667rem;
}


// UI Type
%ui-label {
  font-family: $ui-font-family;
  font-weight: bold;
  font-size: 1rem;
}

%ui-details {
  font-family: $ui-font-family;
  font-style: italic;
  color: $grey;
  font-size: .8333rem;
}


// Various type elements
span.portfolio__tags {
  color: $grey; 
  font-size: 1.3333rem;
  line-height: 1.3333rem;
  letter-spacing: .1rem;
  text-transform: uppercase; 
}

.stack__item {
  font-family: $header-font-family;
  font-weight: 100;
  font-size: .9rem;
  line-height: 1.3;
  color: white;
}