// Headings

h1 { 
  font-family: $body-font-family;
  font-size: 3.3333rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font-family;
}

h3 {
  font-size: 1.3333rem;
  text-transform: uppercase;
}

h4 {
  font-size: 1.6667rem;
}


// Shadows

%ui-shadow {
  text-shadow: 0 1px 0 rgba(0,0,0,.35);
}