---
layout: default
---
<div class="portfolio__single scene-element">
  <section class="hero-unit blur-fade">
    <div id="blur-container">
    <a href="{{ page.url }}">
      <img class="background" style="background-image: url({% portfolio_banner page.title %})" />
      <div class="info-container">
        <h2>{{ page.title }}</h2>
        <span class="portfolio__tags">{% for tag in page.tags %}{{ tag }}{% if forloop.last == false %} &amp; {% endif %}{% endfor %}</span>
      </div>
    </a>
    </div>
  </section>

  <section id="nav-push" class="project__details">
    <div class="basic-info-container">
      <div>
        <h1 class="project__title">{{ page.title }}</h1>
        <span class="portfolio__tags">{% for tag in page.tags %}{{ tag }}{% if forloop.last == false %} &amp; {% endif %}{% endfor %}</span>
      </div>

      <section class="project__stack">
        <section class="design">
          <ul>
            <li>Sketch</li>
            <li>Origami</li>
          </ul>

          <div class="image-container">
            {% image base/icons/design--icon.svg %}
          </div>
        </section>
        <section class="development">
          <ul>
            <li>Ember</li>
            <li>Firebase</li>
            <li>Front End</li>
          </ul>

          <div class="image-container">
            {% image base/icons/development--icon.svg %}
          </div>
        </section>
      </section>
    </div>

    <div class="case-study">
      <section class="stats">
        <dl>
          <div>
            <dt>Client:</dt>
            <dd>Client Company</dd>
          </div>

          <div>
            <dt>Role:</dt>
            <dd>
              <ul>
                <li>Designer</li>
                <li>Front End</li>
              </ul>
            </dd>
          </div>

          <div>
            <dt>Date:</dt>
            <dd>Feb 2014 - May 2014</dd>
          </div>
        </dl>

        <section class="preview">
          <div class="phone">
            <div class="screen">
              <img class="background" style="background-image: url({% portfolio_preview page.title %})" />
            </div>
          </div>
        </section>
      </section>

      <section class="body">
        <p>Sed nec orci id nisl ultricies lacinia a in tellus. Aliquam tincidunt placerat lectus, tristique aliquet 
        dolor efficitur id. Maecenas cursus, eros eget rutrum mollis, enim urna vehicula erat, ac suscipit justo 
        neque vel magna. Integer vel luctus mauris.</p>
        <p>Aenean nunc nisi, efficitur eu malesuada ac, placerat in felis. Nulla at massa tempor, porta arcu et, 
        interdum tortor. Nulla eget tortor porttitor, molestie neque eu, sollicitudin tortor.</p>

        <a class="live-site" href="{{ page.url }}">Live Site</a>

        <div class="pagination">
          <a rel="previous project">{% image base/icons/caret--left.svg %}<span>Previous Project<span></a>
          <a rel="next project"><span>Next Project<span>{% image base/icons/caret--right.svg %}</a>
        </div>
      </section>
  
    </div>
  </section>
</div>