.blur-fade {
  position: fixed;
  transition: background-color .3s ease-out;

  &:after {
    content: '';
    z-index: 3;

    width: 100%;
    height: 100%;

    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;

    background-color: inherit;
  }

  &.force-fade {
    background-color: rgba(0,0,0,.65) !important;

    #blur-container { filter: blur(4px); }
  }

  #blur-container { transition: filter .3s ease-out; }
}