.home {

  .hero-unit {
    width: 100%;
    background: $blue;
    background: linear-gradient(135deg, $blue-shade 0%, $blue-tint 100%);
    @extend %seam;

    padding-top: 4rem;

    text-align: center;

    h1,
    h3 {
      color: white;
      @extend %ui-shadow;
    }

    h1 {
      margin-bottom: 1rem;
    }

    section.images {
      width: 17.0833rem;
      height: 5.9167rem;

      z-index: -1;

      margin: {
        top: 1rem;
        left: 50%;
      }
      transform: translateX(-50%);
    }

    img { 
      position: absolute; 
      bottom: 0;

      &.app {
        width: 100%;
        left: 0;
      }

      &.phone {
        width: (6.0833 / 17.0833) * 100%;
        right: 14%;
      }
    }
  }

  .about--blurb {
    @include window-margin($window-margin);

    text-align: left;

    padding: {
      top: 1rem;
      bottom: 1.6667rem;
    }

    background-color: $eggshell;
    @extend %seam;

    div.container {
      @include outer-container($outer-width);
    }

    a { 
      @extend a.ui;
      font-weight: bold; 
    }
  }
}