nav.main {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 4;

  transition: transform .2s ease-in-out;

  
  $nav-main--height: 6.3333rem;
  width: 100%;
  height: $nav-main--height;

  @include window-margin($window-margin);

  background-color: $eggshell;
  @extend %seam;

  &.retracted.extend {
    transform: translateY(100%);
  }

  div.container {
    @include outer-container($outer-width);

    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-between;
  }

  a {
    margin-top: $nav-main--height / 2;
    transform: translateY(-50%);
  }

  a.drawer--icon {
    height: 1.75rem;
  }

  a.logo {
    height: 2.8333rem;
  }

  a.contact-icon{
    height: 1.8333rem;
  }

}