nav.main {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;
  
  $nav-main--height: 6.3333rem;
  width: 100%;
  height: $nav-main--height;

  @include window-margin($window-margin);

  background-color: $eggshell;
  @extend %seam;

  transition: transform .15s ease-out;

  &.retracted { transform: translateY(-100%); }

  &.extend { transform: translateY(0); }

  div.container {
    @include outer-container($outer-width);
  }

  a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  a.drawer__icon {
    height: 1.75rem;
    left: 1.6667rem;;
  }

  a.logo {
    height: 2.8333rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  a.contact__icon {
    height: 1.8333rem;
    right: 1.6667rem;

    transition: opacity .1s ease-out .05s;
  }

}