.portfolio--list {
  @extend %clear-list;

  li {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;

    text-align: center;

    background-color: black;
    background-size: cover;

    &:before {
      content: '';

      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      width: 100%;
      height: 100%;

      z-index: 2;

      background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,.65) 100%);
    }
  }

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  div.info-container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    z-index: 3;
  }

  h2 { color: white; }

  span { 
    color: $grey; 
    font-size: 1.3333rem;
    letter-spacing: .1rem;
  }
}