.portfolio--list {
  @extend %clear-list;

  li {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;

    text-align: center;

    background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%, rgba(0,0,0,.65) 100%);
    background-size: cover;

    transition: top .5s ease-in-out, padding-bottom .5s ease-in-out, opacity .5s ease-in-out;

    &.smooth-state--select {
      position: fixed;
      z-index: 3;
    }

    &, &:before { opacity: 1; }

    &:before {
      content: '';

      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;

      width: 100%;
      height: 100%;

      z-index: 2;

      background: inherit;

      transition: opacity .5s ease-in-out;
    }

    & > a {
      width: 100%;
      height: 100%;
      
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 100%;
    height: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  div.info-container {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);

    padding-top: 1.8rem;

    z-index: 3;
  }

  h2, span { text-transform: uppercase; }

  h2 { color: white; }

  span { 
    color: $grey; 
    font-size: 1.3333rem;
    letter-spacing: .1rem;
  }
}

.page-trans--portfolio .scene-element {
  .portfolio--list li:not(.smooth-state--select), .hero-unit { 
    animation-name: hide;
    animation-duration: .3s;
    animation-fill-mode: forwards;
  }

  .portfolio--list li:not(.smooth-state--select) div.info-container {
    animation-name: fade-out--center;
    animation-duration: .3s;
    animation-fill-mode: forwards;
  }
}

.is-exiting.page-trans--portfolio .scene-element {
  li.smooth-state--select{
    animation-name: portfolio-pic;
    animation-duration: .5s;
    animation-fill-mode: forwards;

    &:before {
      animation-name: hide;
      animation-duration: .3s;
      animation-fill-mode: forwards;
    }
  }

  .portfolio--list li.smooth-state--select div.info-container {
    animation-name: fade-out--center;
    animation-duration: .3s;
    animation-fill-mode: forwards;
  }
}